<h1>THIS IS THE SECRET PAGE!!!</h1>

<p>You Found Me!!!</p>

<img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fentertainkidsonadime.com%2Fwp-content%2Fuploads%2F2015%2F10%2Fhqdefault-1-1.jpg&f=1&nofb=1" alt="">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>