<% include partials/header %>

<h1>This is the home page!</h1>
<img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fs-media-cache-ak0.pinimg.com%2F736x%2F10%2F90%2Fd3%2F1090d3432e9d46ec51dc78ca82963792.jpg&f=1&nofb=1" alt="">

<% include partials/footer %>